<body><div id="PagAbout">
    <h1 id="TitAbout">Sobre el comic</h1>
<hr>
<p>
    Una historieta o cómic es una sucesión de dibujos que constituye un relato, con texto o sin texto
    <br>
    El interés por la historieta «puede tener muy variadas motivaciones, desde el interés estético al sociológico,
     de la nostalgia al oportunismo».6 Durante buena parte de su historia fue considerado incluso un subproducto 
     cultural,​ apenas digno de otro análisis que no fuera el sociológico, hasta que en la década de 1960 se asiste
      a su reivindicación artística. Las historietas suelen realizarse sobre papel o en forma digital,
       pudiendo constituir una simple tira en la prensa, una página completa, una revista o un libro. 
       Han sido cultivadas en casi todos los países y abordan multitud de géneros. 
       Al profesional o aficionado que las guioniza, dibuja, rotula o colorea se le conoce como historietista.
    <br><br>
    El cómic como tal se popularizó a finales del siglo XIX a través de breves tiras de viñetas que se publicaban 
    en los periódicos y las revistas y que solían girar en torno a una lección moral con la que se concluía. 
    Su buena recepción hizo que las historias se alargaran y empezaran a tomar forma de folletines, como si de 
    los capítulos de una novela se tratase. Las lecciones morales estaban ahí pero la trama cada vez tenía más peso, 
    surgiendo los cómics de aventuras con temática western o de piratas y, por fin, los cómics de superhéroes.

    Esta subcategoría ha pasado por sus altibajos, como todo, pero ha resultado ser una de las más exitosas y 
    populares dentro del noveno arte. Sus personajes, aunque han traspasado las viñetas y las páginas de papel, 
    mantiene intacta su esencia tanto tiempo después.

</p>
<br>
<div class="comics">
    <img src="../../assets/img/comics.jpg" class="img-responsive" alt="">
</div>
<br>
<p> </p>    
</div>
</body>